<div class="post">
  <a href="post">Make a New Post</a><br>
  <a href="account">My Post</a>
  <h2>Timeline</h2>

  <% $all_post.last(20).each do |post|%>

  <h2><%=post.title%></h2>

  <p>Posted by: <%=post.owner%></p>

  <p><%=post.content%></p>

  <p><%=post.category%></p>

  <img src="<%=post.image_url%>">

  <hr>

  <% end %>

</div>
